.card {
    display: flex;
    flex-wrap: nowrap;
    width: 454px;
    height: 278px;
    margin-top: 12px;
    margin-bottom: 14px;
    margin-left: 30px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 245, .2);
}
.card_header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.img {
    width: 185px;
    height: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 9px;
    padding-right: 8px;
    box-sizing: border-box;
}
.content p {
    overflow:hidden;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.title {
    font-family: Inter;
    max-width: 222px;
    min-width: 222px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
}
.genre {
    margin-top: 5px;
    margin-bottom: 5px;
}
.firstColor,
.secondColor,
.thirdColor,
.fourthColor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid #66E900;
    border-radius: 15px;
}
.firstColor{
    border: 2px solid #E90000;
}
.secondColor{
    border: 2px solid #E97E00;
}
.thirdColor{
    border: 2px solid #E9D100;
}
.ant-rate {
    margin-top: auto !important;
    margin-bottom: 0 !important;
}
.ant-rate-star, .ant-rate-star-half{
    transform: scale(0.85);
}
.ant-rate-star:not(:last-child) {
    margin-right: 4px !important;
}