@import "~antd/dist/antd.css";
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter.ttf");
  font-style: normal;
  /* font-weight: normal; */
}
.card {
  display: flex;
  flex-wrap: nowrap;
  width: 454px;
  height: 278px;
  margin-top: 12px;
  margin-bottom: 14px;
  margin-left: 30px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 245, 0.2);
}
.card__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.card__img {
  width: 185px;
  height: 100%;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 9px;
  padding-right: 8px;
  box-sizing: border-box;
}
.card__content p {
  font-family: Inter;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.card__title {
  font-family: Inter;
  max-width: 222px;
  min-width: 222px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: auto;
}
.card__genre {
  margin-top: 5px;
  margin-bottom: 5px;
}
.red,
.orange,
.yellow,
.green {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 2px solid #66e900;
  border-radius: 15px;
}
.red {
  border: 2px solid #e90000;
}
.orange {
  border: 2px solid #e97e00;
}
.yellow {
  border: 2px solid #e9d100;
}
.ant-rate {
  margin-top: auto !important;
  margin-bottom: 0 !important;
}
.card__stars {
  font-size: 16px;
  text-align: center;
}
