body {
  background-color: #e5e5e5;
}
.rated-tab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 1000px;
  height: auto;
  background-color: #fff;
  margin: 0 auto;
}
.ant-tabs-top > .ant-tabs-nav::before {
  width: 130px;
  left: 420px;
}
@media screen and (max-width: 992px) {
  .rated-tab {
    width: 515px;
  }
  .ant-input {
    width: 48.5%;
  }
  .footer {
    width: 500px;
  }
  .ant-tabs-top > .ant-tabs-nav::before {
    width: 130px;
    left: 178px;
  }
}
